version: '3.3'
services:
  myapp-db:
    # build:
    #   context: .
    #   dockerfile: ./Dockerfile.arangodb
    # image: rsf71/myapp-db:$npm_package_version
    image: rsf71/dronetest-db
    ports:
      - 8529:8529
    environment:
      ARANGO_ROOT_PASSWORD: password

  myapp-server:
    # build: .
    # image: rsf71/myapp-server:${npm_package_version}
    image: rsf71/dronetest-server
    ports:
      - 8080:8080
    environment:
      ARANGODB_HOST: myapp-db
      ARANGO_ROOT_PASSWORD: password
    # env_file:
    #   - ./secrets.env
    depends_on:
      - myapp-db

# secrets:
#   ralpi_mysql_password: 
#     file: '/home/rsf/Documents/WEBDEV/RALPI/mysql-password.txt'
    